<div class="widget">
  <div class="current">
     <p class="location">Location: {{city}}, {{country}}</p>
     <p class="status">Status: {{status}} </p>
     <p class="temperature">Temperature: {{temperature}}°<sup>{{unit}}</sup></p>
     <p class="pressure">Pressure: {{pressure}}<sup>hPa</sup></p>
     <p class="humidity">Humidity: {{humidity}}<sup>%</sup></p>
  </div>
</div>